name: Deploy React to EC2

on:
  push:
    branches: ["feature/deploy"]
  workflow-dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build frontend
      run: |
        npm install
        npm run build

    - name: Copy build folder to EC2 via SSH
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "dist/*"
        target: "/home/ubuntu/frontend-dist"

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo rm -rf /var/www/html/*
          sudo cp -r /home/ubuntu/frontend-dist/* /var/www/html/
          sudo systemctl restart nginx
